body {
  background-color: #28334AFF;
  color:white;
}

.jumbotron {
  text-align: center;
  background-color: #F65058FF;
  color: #28334AFF;
}

h1 {
  font-size: 60px;
}

h2{
  text-align: center;
  color:yellow;
}

form {
  text-align: center;
}

label {
  display:block;
}

#date {
  margin-top: 10px;
}

#gender {
  margin-top: 10px;
}

#submit {
  text-align: center;
  display: block;
  margin-left:47%;
  margin-top: 20px;
  background-color: #F65058FF;
}

h5 {
  color:yellow;
  margin-top:50px;
}

#displayNameHere {
  text-align: center;
  margin-top: 30px;
}



