body {
  background-color: #28334AFF;
  color:white;
}

.jumbotron {
  text-align: center;
  background-color: #F65058FF;
  color: #28334AFF;
}

h1 {
  font-size: 60px;
}

h2{
  text-align: center;
  text-decoration: underline;
}

form {
  text-align: center;
}

label {
  display:block;
  margin-top: ;
}

.submit {
  text-align: center;
  display: block;
  margin-left:530px;
  margin-top: 30px;
  background-color: #F65058FF;
}



